@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/material-symbols-rounded.woff2") format("woff2");
}

.material-symbols-rounded {
  display: inline-block;
  direction: ltr;
  font-family: "Material Symbols Rounded" !important;
  font-feature-settings: "liga" !important;
  font-size: 24px;
  font-style: normal !important;
  font-variant-ligatures: common-ligatures !important;
  font-weight: normal !important;
  letter-spacing: normal !important;
  line-height: 1;
  text-transform: none !important;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga" !important;
  -webkit-font-smoothing: antialiased;
}
